<h1 class="text-danger" >Error Occured</h1>

<hr style="background-color: black" />

<h3 class="text-danger" >An error has occured while processing your request.</h3>
<h3 class="text-danger" >The support team is notified and we are working to correct the situation.</h3>

<hr style="background-color: black" />

<h5>Please contact us at SupportTeam@LifeInNotes.com</h5>

<hr style="background-color: black" />

<a asp-controller="Home" asp-action="Index" class="btn btn-info" 
   style="width: auto; background-color: black" >Click Here To Leave This Page</a>

<div id="NotFound"></div>