@{ 
    ViewBag.Title = "About Life-In-Notes";
}

<h1>About Life-In-Notes</h1>

<hr style="background-color:black" />

<div id="About">
    <div class="card m-3">
        <div class="card-header" style="background-color:lightgray">
            <h3>What is Life-In-Notes?</h3>
        </div>
        <div class="card-body">
            <h5>
                Life-In-Notes is a personal account of life’s events, thoughts, ideas, journal entries.
                Life-In-Notes is a place where one can go to ponder and record what is intimate, personal,
                half-baked with no worries or concerns that someone will read it without permission.
            </h5>
            <h5>
                Life-In-Notes provides themes, entry types to allow for the user to customize, personalize,
                categorize what the user intends on sharing, or adding to a previous entry.
            </h5>
            <h5>
                In a life filled with Social Media, Life-In-Notes gives one a chance to reflect, release,
                evaluate with complete honesty and without social pressures that come from Social Media.
                All one has to do is register for a personal account, create a profile and begin sharing.
            </h5>
        </div>
        <div class="card-footer text-center" style="background-color:lightgray">
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Sign-Up</a>
        </div>
    </div>
</div>
